body {
	background-color: #1f2025;
}

@media only screen and (max-width: 4000px) {
	#board {
		position: relative;
		width: 44%;
		height: 875px;
		margin: auto;
		background: url("board.jpg") no-repeat;
		border: 1px solid #303436;
	} 
	#messageArea {
		position: absolute;
		width: 300px;
		height: 20px;
		top: 0px;
		padding: 15px;
		right: 0;
		color: #303436;
		font-size: 1em;
		background-color: #dbe4e8;
	}
	table {
		position: absolute;
		left: 73px;
		top: 73px;
		border-spacing: 0px;
	}
	td {
		border: 1px solid black;
		border-collapse: collapse;
		width: 71px;
		height: 71px;
		background: url(waterTile.gif) no-repeat center / cover;
	}
	form {
		position: absolute;
		top: 0px;
		left: 0px;
		padding: 15px;
		background-color: #393a3f;
	}
	form input {
		background-color: #dbe4e8;
		border-color: #1f2025;
		font-size: 1em;	
	}
	.hit {
		background: url("shipTile.gif") no-repeat center / cover;
		background-color: #d1d1d1;
	}
	.miss {
		background: url("missTile.gif") no-repeat center / cover;
		background-color: #d1d1d1;
	}
	.nums1{
		border: 1px dotted black;
		border-collapse: collapse;
		width: 71px;
		height: 31px;
		color: white;
		background-color: transparent;
		text-align: center;
	}
	.corner{
		border: 1px dotted black;
		border-collapse: collapse;
		width: 31px;
		height: 31px;
		color: white;
		background-color: transparent;
		text-align: center;
	}
	.nums2{
		border: 1px dotted black;
		border-collapse: collapse;
		width: 31px;
		height: 71px;
		color: white;
		background-color: transparent;
		text-align: center;
	}
}

@media only screen and (max-width: 2000px) {
	#board {
		position: relative;
		width: 65%;
		height: 825px;
		margin: auto;
		background: url("board.jpg") no-repeat;
		border: 1px solid #303436;
	} 



	form {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 15px;
	background-color: #393a3f;
	}

	form input {
	background-color: #dbe4e8;
	border-color: #1f2025;
	font-size: 1em;	
	}

	#messageArea {
	position: absolute;
	width: 275px;
	height: 18px;
	top: 0px;
	padding: 15px;
	right: 0;
	color: #303436;
	font-size: 1em;
	background-color: #dbe4e8;
	}

	table {
		position: absolute;
		left: 10%;
		top: 73px;
		border-spacing: 0px;
	}
	td {
		border: 1px solid black;
		border-collapse: collapse;
		width: 31px;
		height: 31px;
		background: url(waterTile.gif) no-repeat center / cover;
	}

	.hit {
		background: url("shipTile.gif") no-repeat center / cover;
		background-color: #d1d1d1;
	}
	.miss {
		background: url("missTile.gif") no-repeat center / cover;
		background-color: #d1d1d1;
	}
	.nums1{
		border: 1px dotted black;
		border-collapse: collapse;
		width: 65px;
		height: 31px;
		color: white;
		background-color: transparent;
		text-align: center;
	}
	.corner{
		border: 1px dotted black;
		border-collapse: collapse;
		width: 31px;
		height: 31px;
		color: white;
		background-color: transparent;
		text-align: center;
	}
	.nums2{
		border: 1px dotted black;
		border-collapse: collapse;
		width: 31px;
		height: 65px;
		color: white;
		background-color: transparent;
		text-align: center;
	}
}

@media only screen and (max-width: 1200px) {
	#board {
		position: relative;
		width: 87%;
		height: 625px;
		margin: auto;
		background: url("board.jpg") no-repeat;
		border: 1px solid #303436;
	} 

	form {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 15px;
	background-color: #393a3f;
	}

	form input {
	background-color: #dbe4e8;
	border-color: #1f2025;
	font-size: 1em;	
	}

	#messageArea {
	position: absolute;
	width: 175px;
	height: 17px;
	top: 0px;
	padding: 15px;
	right: 0;
	color: #303436;
	font-size: 1em;
	background-color: #dbe4e8;
	}

	table {
		position: absolute;
		left: 4%;
		top: 73px;
		border-spacing: 0px;
	}
	td {
		border: 1px solid black;
		border-collapse: collapse;
		width: 31px;
		height: 31px;
		background: url(waterTile.gif) no-repeat center / cover;
	}

	.hit {
		background: url("shipTile.gif") no-repeat center / cover;
		background-color: #d1d1d1;
	}
	.miss {
		background: url("missTile.gif") no-repeat center / cover;
		background-color: #d1d1d1;
	}
	.nums1{
		border: 1px dotted black;
		border-collapse: collapse;
		width: 45px;
		height: 21px;
		color: white;
		background-color: transparent;
		text-align: center;
	}
	.corner{
		border: 1px dotted black;
		border-collapse: collapse;
		width: 21px;
		height: 21px;
		color: white;
		background-color: transparent;
		text-align: center;
	}
	.nums2{
		border: 1px dotted black;
		border-collapse: collapse;
		width: 21px;
		height: 45px;
		color: white;
		background-color: transparent;
		text-align: center;
	}
}

@media only screen and (max-width: 600px) {
	#board {
		position: relative;
		width: 100%;
		height: 475px;
		margin: auto;
		background: url("board.jpg") no-repeat;
		border: 1px solid #303436;
	} 

	form {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 15px;
	background-color: #393a3f;
	}

	form input {
	background-color: #dbe4e8;
	border-color: #1f2025;
	font-size: 1em;	
	}

	#messageArea {
	position: absolute;
	width: 150px;
	height: 15px;
	top: 0px;
	padding: 15px;
	right: 0;
	color: #303436;
	font-size: 1em;
	background-color: #dbe4e8;
	}

	table {
		position: absolute;
		left: 73px;
		top: 73px;
		border-spacing: 0px;
	}
	td {
		border: 1px solid black;
		border-collapse: collapse;
		width: 31px;
		height: 31px;
		background: url(waterTile.gif) no-repeat center / cover;
	}

	.hit {
		background: url("shipTile.gif") no-repeat center / cover;
		background-color: #d1d1d1;
	}
	.miss {
		background: url("missTile.gif") no-repeat center / cover;
		background-color: #d1d1d1;
	}
	.nums1{
		border: 1px dotted black;
		border-collapse: collapse;
		width: 25px;
		height: 11px;
		color: white;
		background-color: transparent;
		text-align: center;
	}
	.corner{
		border: 1px dotted black;
		border-collapse: collapse;
		width: 11px;
		height: 11px;
		color: white;
		background-color: transparent;
		text-align: center;
	}
	.nums2{
		border: 1px dotted black;
		border-collapse: collapse;
		width: 11px;
		height: 25px;
		color: white;
		background-color: transparent;
		text-align: center;
	}
}

@media only screen and (max-width: 414px) {
	#board {
		position: relative;
		width: 100%;
		height: 475px;
		margin: auto;
		background: url("board.jpg") no-repeat;
		border: 1px solid #303436;
	} 

	form {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 15px;
	background-color: #393a3f;
	}

	form input {
	background-color: #dbe4e8;
	border-color: #1f2025;
	font-size: 1em;	
	}

	#messageArea {
	position: absolute;
	width: 150px;
	height: 15px;
	top: 60px;
	right: 0;
	color: #303436;
	font-size: 1em;
	background-color: #dbe4e8;
	}

	table {
		position: absolute;
		left: 27px;
		top: 107px;
		border-spacing: 0px;
	}
	td {
		border: 1px solid black;
		border-collapse: collapse;
		width: 31px;
		height: 31px;
		background: url(waterTile.gif) no-repeat center / cover;
	}

	.hit {
		background: url("shipTile.gif") no-repeat center / cover;
		background-color: #d1d1d1;
	}
	.miss {
		background: url("missTile.gif") no-repeat center / cover;
		background-color: #d1d1d1;
	}
	.nums1{
		border: 1px dotted black;
		border-collapse: collapse;
		width: 11px;
		height: 7px;
		color: white;
		background-color: transparent;
		text-align: center;
	}
	.corner{
		border: 1px dotted black;
		border-collapse: collapse;
		width: 7px;
		height: 7px;
		color: white;
		background-color: transparent;
		text-align: center;
	}
	.nums2{
		border: 1px dotted black;
		border-collapse: collapse;
		width: 7px;
		height: 11px;
		color: white;
		background-color: transparent;
		text-align: center;
	}
}